# InfluxDB v2 credentials
INFLUXDB_TOKEN=change_me_to_a_secure_token
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=change_me_to_a_secure_token
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=change_me_to_a_strong_password

# InfluxDB v1 credentials
INFLUXDB_USER=change_me
INFLUXDB_PASS=change_me_to_a_strong_password
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=change_me_to_a_strong_password
INFLUXDB_WRITE_USER=change_me
INFLUXDB_WRITE_USER_PASSWORD=change_me_to_a_strong_password
